/* Provided stylesheet for HW 7: Pokedex V2 */
body, button {
  color: #222;
  font-family: "Century Gothic", Helvetica, sans-serif;
}

#menu-container .nav-pills {
  width: 60vw;
}

#title {
  margin-bottom: 15px;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
}

#menu-view {
  flex-direction: column;
  width: 95vw;
  margin: auto auto;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Pokedex Styles */
.pokedex, #pokedex-view {
  margin: auto auto;
  min-width: 200px;
  height: 520px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-sizing: content-box;
}

#pokedex-view {
  width: 800px;
}

.dex-container {
  width: 48%;
  text-align: left;
} 

.pokedex {
  width: 100%; 
  margin: 0;
}

#pokedices {
  width: 90vw;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}

.pokedex, #pokedex-view, .card {
  border: 5px outset #777;
  border-radius: 15px;
}

#choose-pokemon-container {
  display: flex;
  margin: auto auto;
  width: 100%;
}

#new-game-view {
  width: 90%;
  margin: auto auto;
  text-align: center;
}

/* Card styles */
h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.info {
  font-size: 11pt;
  font-style: italic;
  height: 60px;
  margin: auto auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  padding: 4px;
  text-align: center;
  width: 90%;
}

.pokemon-pic {
  border: 4px solid #999;
  border-radius: 15px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.card {
  height: 520px;
  position: relative; /* for weakness icon positioning */
}

#new-game-view, .card-container {
  float: left;
  margin-right: auto;
}

.card-container {
  height: 520px;
  width: 350px;
}

#results-container {
  margin: 0 20px;
  text-align: center;
  width: 250px;
}

.pokepic {
  height: 80%;
  object-fit: contain;
  width: 80%;
}

.card > img, .moves img {
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

.type {
  float: left;
  margin: 3px 5px 3px 3px;
}

.weakness {
  bottom: 0;
  left: 3px;
  position: absolute;
}

div > img {
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.moves {
  margin: auto auto;
  width: 70%;
  font-size: 12pt;
}

.moves .dp {
  float: right;
  vertical-align: middle;
  line-height: 2em;
}

.moves img {
  float: left;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.moves .move {
	font-weight: bold;
  line-height: 2em;
  vertical-align: middle;
}

.hp {
  float: right;
  margin: 15px;
}

#loading {
  margin-top: 200px;
  width: 80px;
}

#endgame {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.sprite {
  width: 40px;
  height: 40px;
  margin: 4px;
  padding: 1px;
  float: left;
  cursor: pointer;
}

.unfound {
  -webkit-filter: brightness(0);
}

.buffs {
  width: 50px;
  float: left;
  padding-top: 40px;
}

#their-card, #chosen-card, #my-card {
  width: 500px;
}

#their-card .card-container {
  float: right;
  margin-right: 0;
}

#their-card .buffs {
  float: right;
}

.buff, .debuff {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 2px;
  background-size: 30px 30px;
}

.accuracy.buff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/accuracy-buff.png");
}

.attack.buff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/attack-buff.png");
}

.defense.buff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/defense-buff.png");
}

.accuracy.debuff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/accuracy-debuff.png");
}

.attack.debuff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/attack-debuff.png");
}

.defense.debuff {
  background-image: url("https://webster.cs.washington.edu/pokedex/icons/defense-debuff.png");
}

/*
#menu button,
*/
.mod-btn, .menu-btn, #choose-pokemon-btn, #pokedex-menu-btn, #start-game, #main-menu-btn, #-bot-, #-random-, #student, #start-btn, #flee-btn, #endgame {
  background-color: #fff;
  border: 3px inset #666;
  border-radius: 8px;
	cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 5px auto;
  padding: 8px;
  width: 250px;
  font-size: 12pt;
}

/* For whatever reason, having just the hidden class doesn't hide these buttons */
#start-game.hidden, #choose-pokemon-btn.hidden, #-bot-.hidden, #-random-.hidden, #student.hidden, #show-p2-dex.hidden, #pokedex-menu-btn.hidden, #main-menu-btn.hidden, #start-btn.hidden, #flee-btn.hidden, #endgame.hidden, .hidden {
  display: none;
}

.hp-info {
  height: 30px;
  line-height: 1em;
  margin-bottom: 0.3em;
}

.hp-info p {
  font-size: 20pt;
  font-weight: bold;
  float: left;
  width: 15%;
}

.hp-info .health-bar-container {
  /* Display this element to be inline-block -- otherwise it shifts underneath the floated element to the left */
  display: inline-block;
  width: 85%;
}

.health-bar {
  width: 100%;
  background-color: green;
  height: 20pt;
  border: 4px inset darkgreen;
  border-radius: 20px;
  /** Border box to get the 4px+4px of border to be included in the 100% width */
  box-sizing: border-box;
}

.low-health {
  background-color: red;
  border: 4px inset darkred;
}

#main-menu-btn, #pokedex-menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 160px;
  font-size: 11pt;
}

button a {
  text-decoration: none;
}

#trade-message {
  text-align: center;
}

#proposal-options {
  margin: 15px 15px;
}

#proposal-options div {
  margin: 15px 15px;
  font-size: 12pt;
  text-align: center;
}

#proposal-options input {
  font-size: 12pt;
  display: block;
  margin: 10px auto;
  padding: 4px;
}

hr {
	display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 120px;
}

.results-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 15px auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dex-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: left;
}

.hidden * {
  display: none;
}

#proposal-view {
  width: 60%;
}

#users, #opps {
  padding: 4px;
  width: 150px;
  display: block;
  margin: 5px auto 15px auto;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12pt;
}

.results-table .small-btn {
  padding: 5px;
  width: 120px;
  display: block;
  background-color: #fff;
  margin: auto auto;
  border-radius: 4px;
  float: left;
  margin-left: 5px;
}

#games-table tr td, #games-table tr th {
  width: 200px;
}

.results-table tr td:nth-child(5), #games-table tr td:nth-child(2) {
  background-color: #fff;
  border: none;
  width: 100px;
}

#games-table {
  /* width: 40%; */
  margin: auto auto;
}

.results-table tr span {
  margin-left: 15px;
  padding: 0;
}

.sub-menu h3 {
  text-align: center;
}

.chosen-btn, #choose-pokemon-btn.chosen-btn, #-bot-.chosen-btn, #-random-.chosen-btn, #student.chosen-btn {
  background-color: #ddd;
}

#choose-pokemon-container .dex-container {
  flex-direction: row;
  width: 55vw;
}

.moves button {
  background-color: #f7f7f7;
  border: 5px outset #999;
  border-radius: 6px;
  box-shadow: 1px 3px #999;
  cursor: pointer;
	font-size: 12pt;
  padding: 2px 10px 2px 10px;
  margin: 5px 0;
  text-align: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
}

#my-card .moves button:hover {
  background-color: #ccc;
}

#my-card .moves button:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.results-table p {
  line-height: 40px;
}

.results-table .sprite {
  margin: 0px 4px;
}

#menu-btns {
  list-style-type: none;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu-btns * {
  display: inline;
  margin: auto 3px;
}

#menu-btns .menu-btn {
  width: 150px;
}

#new-proposal-view .part-iii {
  width: 40vw;
  margin: auto auto;
}
