#box {
    border: 2px solid black;
    height: 500px;
    margin: auto auto;
    position: relative;
    width: 500px;
}
.little-box {
    background-color: #000;
    height: 20px;
    position: absolute;
    width: 20px;
    top: 20px;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
