/* Provided stylesheet for HW 5: Pokedex Assignment */
body, button {
  color: #222;
  font-family: "Century Gothic", Helvetica, sans-serif;
}

#title {
  margin-bottom: 15px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Pokedex Styles */
#pokedex-view {
  width: 800px;
  min-width: 200px;
  height: 520px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}

#pokedex-view, .card {
  border: 5px outset #777;
  border-radius: 15px;
}

/* Card styles */
h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.info {
  font-size: 11pt;
  font-style: italic;
  height: 60px;
  margin: auto auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  padding: 4px;
  text-align: center;
  width: 90%;
}

.pokemon-pic {
  border: 4px solid #999;
  border-radius: 15px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.card {
  height: 520px;
  position: relative; /* for weakness icon positioning */
}

.card-container {
  height: 520px;
  float: left;
  margin-right: auto;
  width: 350px;
}

#results-container {
  margin: 0 20px;
  text-align: center;
  width: 250px;
}

.pokepic {
  height: 80%;
  object-fit: contain;
  width: 80%;
}

.card > img, .moves img {
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

.type {
  float: left;
  margin: 3px 5px 3px 3px;
}

.weakness {
  bottom: 0;
  left: 3px;
  position: absolute;
}

div > img {
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.moves {
  margin: auto auto;
  width: 70%;
  font-size: 12pt;
}

.moves .dp {
  float: right;
  vertical-align: middle;
  line-height: 2em;
}

.moves img {
  float: left;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.moves .move {
	font-weight: bold;
  line-height: 2em;
  vertical-align: middle;
}

.moves button {
  background-color: #f7f7f7;
  border: 5px outset #999;
  border-radius: 6px;
  box-shadow: 1px 3px #999;
  cursor: pointer;
	font-size: 12pt;
  padding: 2px 10px 2px 10px;
  margin: 5px 0;
  text-align: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
}

.moves button:hover {
  background-color: #ccc;
}

.moves button:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.hp {
  float: right;
  margin: 15px;
}

#loading {
  margin-top: 200px;
  width: 80px;
}

#endgame {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.sprite {
  width: 40px;
  height: 40px;
  margin: 4px;
  padding: 1px;
  float: left;
  cursor: pointer;
}

.unfound {
  -webkit-filter: brightness(0);
}

.buffs {
  width: 50px;
  float: left;
  padding-top: 40px;
}

#their-card, #my-card {
  width: 500px;
}

.buff, .debuff {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 2px;
  background-size: 30px 30px;
}

.accuracy.buff {
  background-image: url("icons/accuracy-buff.png");
}

.attack.buff {
  background-image: url("icons/attack-buff.png");
}

.defense.buff {
  background-image: url("icons/defense-buff.png");
}

.accuracy.debuff {
  background-image: url("icons/accuracy-debuff.png");
}

.attack.debuff {
  background-image: url("icons/attack-debuff.png");
}

.defense.debuff {
  background-image: url("icons/defense-debuff.png");
}

#start-btn, #flee-btn, #endgame {
  background-color: #fff;
  border: 3px inset #666;
  border-radius: 8px;
	cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 5px auto;
  padding: 8px;
  width: 250px;
  font-size: 12pt;
}

#start-btn.hidden, #flee-btn.hidden, #endgame.hidden, .hidden {
  display: none;
}

.hp-info {
  height: 30px;
  line-height: 1em;
  margin-bottom: 0.3em;
}

.hp-info p {
  font-size: 20pt;
  font-weight: bold;
  float: left;
  width: 15%;
}

.hp-info .health-bar-container {
  /* Display this element to be inline-block -- otherwise it shifts underneath the floated element to the left */
  display: inline-block;
  width: 85%;
}

.health-bar {
  width: 100%;
  background-color: green;
  height: 20pt;
  border: 4px inset darkgreen;
  border-radius: 20px;
  /** Border box to get the 4px+4px of border to be included in the 100% width */
  box-sizing: border-box;
}

.low-health {
  background-color: red;
  border: 4px inset darkred;
}
