h2 {
    background-image: url(corgi.gif) no-repeat 520px/60px;
    color: #444;
}
#css {
    color:green;
    text-decoration: underline;
}
#Sweet{
    color:purple;
    font-style: italic;
}
#short {
    font-size: 14pt;
}
