h1{
    text-decoration: underline;
    color: #A4A400;
    background-color: #F0F0F0;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 22pt;
}
h2{
    text-decoration: underline;
    color: #A4A400;
    background-color: #F0F0F0;
    text-align: left;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18pt;
}
body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}
a{
    color: #A4A400;
}
pre{
    font-family: monospace;
}
blockquote{
    background-color: #FFFFA8;
    font-style: italic;

}